*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  font-size: 16px;
  letter-spacing: 1px;
  
  

}
html,body{
    height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;


}
body{
    background: #0F2027;  /* fallback for old browsers */

}
.main-div{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 17px;
    padding: 50px;  
    height: 500px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(68, 51, 51);
    box-shadow: 5px 10px 10px rgb(0, 0, 0);
   background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #5e5368 74%);

    

    
}
form{
    display: none;
    flex-direction: column;
    gap: 30px;
    text-align: center;


     
}
.form.flex {
    display: flex;
}


.inp{
    border:  solid;
    border-color: rgb(81, 75, 75);
     background-color:#5e5368ff;
    background-image: linear-gradient(315deg, #5e5368 0%, #5e5368 74%);

    
     background-color: lightgray;
    border-radius: 10px;
    height: 35px;
    width: 350px;
    color: rgb(255, 255, 255);
    padding: 15px;
    padding-left: 35px;
    outline: none;

}
.inp::placeholder {
  color: #888;
  font-style: oblique;
  font-size: 16px;
  letter-spacing: 1px;
  opacity: 0.8;
}
.inp:focus {
    background: #000000;  /* fallback for old browsers */
  box-shadow: 0 0 5px #0F2027;
}
.inp-grp:focus-within i{
    color: white;
}
.inp-grp{
    position: relative;
}
i{
    position: absolute;
    left: 10px;
    top: 10px;
    
    
}
.password{
    position: relative;
    display: flex;
    flex-direction: row;
    
}
.pwd-icon{
    position: absolute;
    right: 7px;
    top: 7px;
    font-size: 15px;
    background-color: transparent;
    cursor: pointer;
    color: black;
    user-select: none;
    
    
}



button{
    border: 2px solid black;
    border-radius: 10px;
    width: 150px;
    height: 45px;
    color: rgb(255, 255, 255);
    background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #5e5368 74%);

    
}
p{
    text-align: center;
    color: red;
    
}
.signup h3{
    margin-top: 30px;
}
.signup a{
    margin-top: -30px;
    margin-bottom: 40px;
    text-decoration: none;
}
.signin a{
    margin-top: -30px;
    margin-bottom: -100px;
    text-decoration: none;
}
.signin h3{
    padding: auto;
    margin-top: -100px;
    
}

.home-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-div h1{
    font-size: 50px;
    color: #7a7474;
    margin-bottom: 100px;
    
}
.home-div button{
    margin-top: 100px;
}
#user-info{
    color: rgb(178, 15, 15);
    font-size: 30px;
}
#highlight{
    background: linear-gradient(to right, #ff416c, #ff4b2b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 35px;
}


/* Animation */
.typewriter-animation-h1 {
     border-right: 2px solid rgba(255,255,255,.75);
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}
.typewriter-animation-p {
    border-right: 2px solid transparent;
  animation: 
    typewriter 5s steps(50) 6s 1 normal both, 
    blinkingCursorP 500ms steps(50) infinite 6s normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}
@keyframes blinkingCursorP {
  0%, 49% { border-right-color: transparent; }
  50%, 100% { border-right-color: rgb(255, 255, 255); }
}

.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
   
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}


